export PATH="$PATH:$HOME/.local/bin"

# Defaults
export SUDO_EDITOR="/usr/bin/nvim"
export EDITOR="/usr/bin/nvim"
export TERMINAL="/usr/bin/kitty"
export BROWSER="/usr/bin/vivaldi-stable"
export READER="/usr/bin/zathura"

# Keep that ~ tidy
export NPM_CONFIG_USERCONFIG="$HOME/.config/npm/.npmrc"
export npm_config_prefix="$HOME/.config/npm/.node_modules"
export npm_config_cache="$HOME/.cache/npm"
export ZDOTDIR="$HOME/.config/zsh"
# export ZDOTDIR="$HOME/.config/zsh"
export LESSHISTFILE="-"
export GTK2_RC_FILES="$HOME/.config/gtk-2.0/gtkrc-2.0"

# Make QT theme consistent with GTK
export QT_QPA_PLATFORMTHEME="gtk2"

# Statusbar variable
export STATUSBAR="polybar"
